name: Caller
on:
  workflow_dispatch:
    inputs:
      testvar:
        description: 'test'
        default: 'caller-default-value'
        required: true
        type: string
jobs:
  # call-main:
  #   uses: LeonidLapshinAquaCloud/open-test/.github/workflows/main.yml@master
  #   with:
  #     testvar: ${{ github.event.inputs.testvar }} 

  create-branch:
    runs-on: windows-latest
    steps:
      - name: Create branch
        uses: actions/github-script@v3
        with:
          github-token: ${{ github.token }}
          script: |
            github.git.createRef({
              owner: context.repo.owner,
              repo: "aqua-infra",
              ref: "refs/heads/testbranch,
              sha: context.sha
            })