name: CI

on:
  push:
    branches: [ master, release*, feature* ]

jobs:
  tests:
    runs-on: windows-latest
    env:
    steps:
      - run: |
          docker pull tobiasfenster/mssql-server-dev-unsupported