name: Create a distribution package
on:
  push:
    branches:
      - master

env:
  INPUT_FRONTEND_BRANCH: ${{ github.event.inputs.frontend_branch }}

jobs:
  tests:
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.4
        with:
          path: source
      - run: |
          echo '$(${{ github.ref }} -replace "refs/heads/", "")'
          echo '$(git rev-parse origin/$(${{ github.ref }} -replace "refs/heads/", "")'
          $(git rev-parse HEAD) -eq $(git rev-parse origin/$(${{ github.ref }} -replace "refs/heads/", ""))
        working-directory: source
