name: Create a distribution package
on:
  push:
    branches:
      - master

jobs:
  tests:
    runs-on: windows-latest
    env:
      ADVANCED_INSTALLER: 'C:\Program Files (x86)\Caphyon\Advanced Installer 18.7\bin\x86\advinst.exe'
    steps:

      - uses: actions/checkout@v2
        
      - run: |
          date > generated.txt
          git config user.name github-actions
          git config user.email github-actions@github.com
          git add .
          git commit -m "generated"
          git push