name: Create environment from branch
on:
  push:
    branches:
      - master

jobs:
  set-branch:
    runs-on: windows-latest
    steps:
      - name: Set proper frontend branch based on input or use default value
        id: fix
        run: |
          echo "dfd" >> 1.msi

      - name: Create artifact with version number 
        uses: actions/upload-artifact@v2
        with:
          name: 1.msi
          path: 1.msi

  run-distribution:
    needs: set-branch
    runs-on: windows-latest
    steps:
      - name: Set proper frontend branch based on input or use default value
        id: fix
        run: |
          mkdir 2

      - name: Download the client msi from the separate job
        uses: actions/download-artifact@v2
        with:
          name: 1.msi
          path: ./2/