name: Create environment from branch
on:
  workflow_dispatch:
    inputs:
      frontend:
        description: 'frontend branch'
        default: 'development'
        required: true
        type: string
  push:
    branches:
      - master

concurrency: 
  group: master
  cancel-in-progress: true

jobs:
  set-branch:
    runs-on: ubuntu-latest
    env:
      frontend: ${{ github.event.inputs.frontend }}
    outputs:
      frontend-on-push: ${{ steps.fix.outputs.frontend-on-push }}
    steps:
      - name: Set proper frontend branch based on input or use default value
        id: fix
        run: |
          if($env:frontend) {
            $fixed_frontend = $env:frontend
          } else {
            $fixed_frontend = "gggggg"
          }
          Write-Output $env:frontend
          Write-Output "::set-output name=fixed_frontend::$fixed_frontend"
        shell: pwsh

  run-distribution:
    needs: set-branch
    runs-on: ubuntu-latest
    env:
      bbb: ${{needs.set-branch.outputs.fixed_frontend}}
    steps:
      - name: check
        run: echo ${{ env.bbb }}